.soc{
    float: left;
    width: 25%;
    box-sizing: border-box;
    list-style: none;
}

.soc_tag{
    float: left;
    width: 25%;
    box-sizing: border-box;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.soc_size{
    height: 100px;
    width: 100;
}

.end{
    text-align: center;
    padding-top: 30px;
    color: white;
}

.soc_tag_link{
    text-decoration:none;
    color: darkblue;
}